:root {
  --color-primary: #fff;
  --color-secondary: #ccc;
  --color-tertiary: #aaa;
  --color-text: #fff;
  --color-background: #000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  color: var(--color-text);
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 2rem; /* Ajusta este valor según sea necesario */
  z-index: -1;
  background: url("/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
//object-position: center;
}